= javascript_include_tag "//www.google.com/jsapi"
.vr-analytics
  .page-header
    .row.my-2.justify-content-between.align-items-center.navbar.navbar-expand-md.p-0
      .vr-analytics-title.col.col-6.col-md-3
        Dashboard
      .vr-analytics-filter-dropdown-container.col.col-6.d-flex.d-md-none.justify-content-end
        %button{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", class:"navbar-toggler", "data-target" => "#filter-collapse", "data-toggle" => "collapse", type: "button"}
          %i.fas.fa-filter.mr-2
          Filters

      .vr-analytics-filters.col.col-md-9.justify-content-end.navbar-collapse.collapse{id: 'filter-collapse'}
        = form_with(url: v2_dashboard_path, method: :get, html: {id: 'analytics_filter' }) do |f|
          .d-md-flex.justify-content-end.mt-3.mt-md-0
            = f.hidden_field :start_date, value: @start_date
            = f.hidden_field :end_date, value: @end_date
            = f.hidden_field :interval, value: @interval
            = f.select :page, options_for_select(Subdomain.current.pages.map {|page| [page.label, page.id] }, @page), { prompt: "All pages"}, { class: 'vr-analytics-filters-pages', onchange: "$(this).closest('form').submit()" }            
            #reportrange.vr-analytics-filters-ranges.ml-md-4.d-flex.d-md-block.justify-content-between
              %span
              %i.fa.fa-caret-down.ml-2

  %main{class: 'my-5'}
    = turbo_frame_tag Ahoy::Event::EVENT_CATEGORIES[:page_visit], src: v2_event_analytics_path(event_category: Ahoy::Event::EVENT_CATEGORIES[:page_visit], start_date: @start_date, end_date: @end_date, page: @page, interval: @interval), loading: :eager do
      = "Loading...."
  
    %hr.m-0
    = turbo_frame_tag Ahoy::Event::EVENT_CATEGORIES[:click], src: v2_event_analytics_path(event_category: Ahoy::Event::EVENT_CATEGORIES[:click], start_date: @start_date, end_date: @end_date, page: @page, interval: @interval), loading: :eager do
      = "Loading...."

    %hr.m-0
    = turbo_frame_tag Ahoy::Event::EVENT_CATEGORIES[:video_view], src: v2_event_analytics_path(event_category: Ahoy::Event::EVENT_CATEGORIES[:video_view], start_date: @start_date, end_date: @end_date, page: @page, interval: @interval), loading: :eager do
      = "Loading...."
        
    %hr.m-0
    = turbo_frame_tag Ahoy::Event::EVENT_CATEGORIES[:form_submit], src: v2_event_analytics_path(event_category: Ahoy::Event::EVENT_CATEGORIES[:form_submit], start_date: @start_date, end_date: @end_date, page: @page, interval: @interval), loading: :eager do
      = "Loading...."

    %hr.m-0
    = turbo_frame_tag Ahoy::Event::EVENT_CATEGORIES[:section_view], src: v2_event_analytics_path(event_category: Ahoy::Event::EVENT_CATEGORIES[:section_view], start_date: @start_date, end_date: @end_date, page: @page, interval: @interval), loading: :eager do
      = "Loading...."

    %hr.m-0
    = turbo_frame_tag 'system_events', src: v2_event_analytics_path(event_category: 'system_events', start_date: @start_date, end_date: @end_date, page: @page, interval: @interval), loading: :eager do
      = "Loading...."
